/******************************************
/* CSS
/*******************************************/


/* https://codepen.io/co1424/pen/abXVxgE egg shape example* 
/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  font-family: "Sniglet", sans-serif;
  background: url(https://plus.unsplash.com/premium_photo-1724252291597-404aceee1ea9?q=80&w=1625&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; 
  padding-top: 50px; 
  min-height: 100vh;
}

#sectionForTasks{
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; 
  background-color: rgba(30, 41, 59, 0.75);
  padding: 60px 40px;
  width: 320px; 
  min-height: 400px; 
  border: 3px solid rgba(106, 13, 173, 0.6);
  display: flex; 
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3)
}

#userInputHere{
  padding: 10px; 
  font-size: 16px;
  width: 80%; 
  border: 1px solid rgba(148, 163, 184, 1); 
  border-radius: 8px; 
  margin-bottom: 15px; 
}

#submitToDo{
  padding: 10px 20px;
  font-size: 16px; 
  background-color: rgba(106, 13, 173, 1); 
  color: rgba(255, 255, 255, 1); 
  border: none; 
  border-radius: 8px;
  margin-bottom: 30px; 
  /* transition: rgba(106, 13, 173, 1) 0.3 ease; */
  transition: background-color 0.3s ease;
}

#submitToDo:hover{
  background-color: rgba(80, 100, 120, 1);

}

#listOfTasks{
  padding: 0;
  margin: 0; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
  text-align: center;
}

#listOfTasks li{
  list-style: none;
  border-radius: 4px; 
  color: whitesmoke;
}

#listOfTasks li.completed{
  /* list-style: none;
  background-color: rgba(241, 248, 245, 1);
  padding: 10px; 
  border-radius: 4px; 
  border-left: 4px solid rgba(80, 200, 120, 1); */
  /* color: rgba(30, 41, 59, 1); */
  text-decoration: line-through;
  color: rgba(148, 163, 184, 1);
 
 
}


/******************************************
/* LAYOUT
/*******************************************/

/** style the to do list later on */ 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
